<configuration xmlns:patch="http://www.sitecore.net/xmlconfig">
    <sitecore>
        <commands>
            <command name="digitalBrewery:EditAsset" type="DigitalBrewery.Feature.AssetEditor.Commands.EditAsset , DigitalBrewery.Feature.AssetEditor"/>
        </commands>
    </sitecore>
</configuration>
